* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Roboto, Arial, sans-serif;
}

html {
  height: 100%;
  background-image: linear-gradient(to bottom right,white, black);
}

header {
  background-color: whitesmoke;
  background-image: linear-gradient(90deg, white, black);
  border-bottom: 4px solid black;
  height: 120px;
  text-align: center;
}

header img {
  float: left;
  margin-right: -120px;
}

h1 {
  font-size: 6em;
  margin: auto;
}

main {
  border: 1px solid black;
  clear: left;
  font-size: 1em;
  margin: 8%;
  
  padding: 2em;
  background-color: white;
  border-radius: 1em;
}

section {
  margin: 1em;
}
section:last-of-type p {
  margin: 1em 0;
}

ul {
  margin: 4em;
}
ul li {
  margin: 1em 0;
}
